<html>
<head>
    <script src="/static/js/test.js"></script>
    <link href="/static/css/test.css" rel="stylesheet">
    <!--<script src="/static/js/jquery-2.1.1.min.js"></script>-->
    <!--<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <!-- 为使用方便，直接使用jquery.js库 -->
    <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <!-- 引入封装了failback的接口--initGeetest -->
    <script src="http://static.geetest.com/static/tools/gt.js"></script>
    <script src="/static/js/jsencrypt.min.js"></script>

</head>
<body>
index
<div id="myDiv"><h2>Let AJAX change this text</h2></div>
<button id="b01" type="button">Change Content</button>

<form enctype="multipart/form-data" method="post" id="uploadForm">
    <input type="file" name="theFile" accept="image/gif, image/jpeg, image/png"/>
    <input type="text" name="wawaName" value="文件名称"/>
    <button id="b02" type="button">upload</button>
</form>

<div>
    <button type="button" onclick="findAdmin()">findAdmin</button>
</div>
<textarea id="resultMsg" style="width:600px;height:400px"></textarea>

<div>
    <button type="button" onclick="getPublicKey()">获取公匙</button>

    <form enctype="multipart/form-data" method="post" action="http://localhost:8080/mi/login">
        <input type="text" id="loginName" name="name" value="" placeholder="登录名称"/>
        <input type="text" id="password" name="password" value="" placeholder="登录密码"/>
        <button type="button" onclick="login()">登录</button>
        <button type="button" id="popup-submit">滑动验证登录</button>
        <button type="button" onclick="logout()">登出</button>
        <input type="submit" value="submit"/>
        <div id="popup-captcha"></div>
    </form>
    <button type="button" onclick="batchDeleteAdmin()">批量删除管理员</button>
</div>
<div>
    <input type="text" id="adminId" name="name" value="" placeholder="管理员ID"/>
    <input type="text" id="roleIds" name="name" value="" placeholder="管理员角色ID"/>
    <input type="text" id="adminName" name="name" value="" placeholder="管理员名称"/>
    <input type="text" id="adminPassword" name="password" value="" placeholder="管理员密码"/>
    <button type="button" onclick="saveAdmin()">保存管理员信息</button>

</div>
</body>
<script>
    if (getCookie("miSessionId")) {
        $("#resultMsg").val(getCookie("miSessionId"))
    }
    getPublicKey()

    var gt_server_status;
    var user_id;
    var handlerPopup = function (captchaObj) {
        $("#popup-submit").click(function () {
            var validate = captchaObj.getValidate();
            if (!validate) {
                alert('请先完成验证！');
                return;
            }
//            $.ajax({
//                url: "/ajax_validate", // 进行二次验证
//                type: "post",
//                dataType: "json",
//                data: {
//                    gt_server_status: gt_server_status,
//                    user_id: user_id,
//                    // 二次验证所需的三个值
//                    geetest_challenge: validate.geetest_challenge,
//                    geetest_validate: validate.geetest_validate,
//                    geetest_seccode: validate.geetest_seccode
//                },
//                success: function (data) {
//                    if (data && (data.status === "success")) {
//                        $(document.body).html('<h1>登录成功</h1>');
//                    } else {
//                        $(document.body).html('<h1>登录失败</h1>');
//                    }
//                }
//            });

            var encrypt = new JSEncrypt();
            encrypt.setPublicKey($('#resultMsg').val());
            $.ajax({
                type: 'POST',
                url: "/mi/login",
                data: {
                    name: $("#loginName").val(),
                    password: encrypt.encrypt($("#password").val()),
                    gt_server_status: gt_server_status,
                    user_id: user_id,
                    // 二次验证所需的三个值
                    geetest_challenge: validate.geetest_challenge,
                    geetest_validate: validate.geetest_validate,
                    geetest_seccode: validate.geetest_seccode
                },
//            data: {name:obj.name,password:obj.password},
//            async: true,
//            cache: false,
                dataType: "json",
//            contentType: false,
//            processData: false,
                success: function (data) {
                    if (data.status == 1) {
                        $("#resultMsg").val(data.result.name + getCookie("miSessionId"))
                    } else {
                        $("#resultMsg").val(data.msg)
                    }
                },
                error: function (data) {
                    $("#resultMsg").val(data.msg)
                },
                complete: function (data) {
                    captchaObj.reset();
//                $("#resultMsg").val(data)
                }
            });
        });
        // 弹出式需要绑定触发验证码弹出按钮
//        captchaObj.bindOn("#popup-submit");
        // 将验证码加到id为captcha的元素里
        captchaObj.appendTo("#popup-captcha");
        // 更多接口参考：http://www.geetest.com/install/sections/idx-client-sdk.html
    };
    $.ajax({
        // 获取id，challenge，success（是否启用failback）
        url: "/open/geetest?t=" + (new Date()).getTime(), // 加随机数防止缓存
        type: "POST",
        dataType: "json",
        success: function (data) {
            gt_server_status = data.success;
            user_id = data.user_id;
            // 使用initGeetest接口
            // 参数1：配置参数
            // 参数2：回调，回调的第一个参数验证码对象，之后可以使用它做appendTo之类的事件
            initGeetest({
                gt: data.gt,
                challenge: data.challenge,
                product: "popup", // 产品形式，包括：float，embed，popup。注意只对PC版验证码有效
                offline: !data.success // 表示用户后台检测极验服务器是否宕机，一般不需要关注
            }, handlerPopup);
        }
    });

    function getPublicKey() {
        obj = {}
        $.ajax({
            type: 'GET',
            url: "/open/getPublicKey",
            data: obj,
            dataType: "json",
            success: function (data) {
                if (data.status == 1) {
                    $("#resultMsg").val(data.result)
                } else {
                    $("#resultMsg").val(data.msg)
                }
            },
            error: function (data) {
                $("#resultMsg").val(data.msg)
            },
            complete: function (data) {
//                $("#resultMsg").val(data)
            }
        });
    }
    function login() {
        obj = {}
        obj.name = $("#loginName").val()
        obj.password = $("#password").val()

        var encrypt = new JSEncrypt();
        encrypt.setPublicKey($('#resultMsg').val());
        obj.password = encrypt.encrypt(obj.password);
        $.ajax({
            type: 'POST',
            url: "/mi/login",
            data: obj,
//            data: {name:obj.name,password:obj.password},
//            async: true,
//            cache: false,
            dataType: "json",
//            contentType: false,
//            processData: false,
            success: function (data) {
                if (data.status == 1) {
                    $("#resultMsg").val(data.result.name + getCookie("miSessionId"))
                } else {
                    $("#resultMsg").val(data.msg)
                }
            },
            error: function (data) {
                $("#resultMsg").val(data.msg)
            },
            complete: function (data) {
//                $("#resultMsg").val(data)
            }
        });
    }
    function logout() {
        obj = {}
        obj.name = $("#loginName").val()
        obj.password = $("#password").val()
        $.ajax({
            type: 'POST',
            url: "http://localhost:8080/mi/logout",
            data: obj,
            async: true,
            cache: false,
            dataType: "json",
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.status == 1) {
                    $("#resultMsg").val(getCookie("miSessionId"))
                } else {
                    $("#resultMsg").val(data.msg)
                }
            },
            error: function (data) {
                $("#resultMsg").val(data.msg)
            },
            complete: function (data) {
//                $("#resultMsg").val(data)
            }
        });

    }
    function findAdmin() {
        $.ajax({
            type: 'GET',
            url: "http://localhost:8080/mi/admin/?name=mimi&targetPage=2&pageSize=2",
//                data: formData,
            async: true,
            cache: false,
            dataType: "json",
            contentType: false,
            processData: false,
//            withCredentials: true,
            success: function (data) {
                $("#resultMsg").val(data.status)
            },
            error: function (data) {
                $("#resultMsg").val(data)
            },
            complete: function (data) {
//                $("#resultMsg").val(data)
            }
        });
    }

    $(function () {
        $("#b01").click(function () {
//            htmlobj = $.ajax({url: "http://api.djq.tunnel.qydev.com/user", async: false});
//
//            $("#myDiv").html(htmlobj.responseText);

            var formData = {
                id: "id1",
                name: "name1",
                description: "",
                contentUrl: "",
                preImageUrl: "",
                secondHandHouseId: ""
            };
            $.ajax({
                type: 'GET',
                url: "http://djq.tunnel.qydev.com/user/dd",
//                data: formData,
                async: true,
                cache: false,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (data) {
                    $("#myDiv").html(data.status)
                },
                error: function (data) {
                },
                complete: function () {
                    alert(getCookie("test"))
                }
            });
        });

        $("#b02").click(function () {
            var formData = new FormData($("#uploadForm")[0]);
            $.ajax({
                type: 'POST',
//                url: "http://djq.tunnel.qydev.com/upload",
//                url: "/upload",
                url: "/mi/advertisementAction/uploadImage",
                data: formData,
                async: true,
                cache: false,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.status) {
                        alert(data.result)
                    } else {
                        alert(data.msg);
                    }
                },
                error: function (data) {
                    alert("上传失败");
                },
                complete: function () {
                }
            });
        })


    })
    function batchDeleteAdmin() {
        ids = $("#resultMsg").val()
        $.ajax({
            type: 'DELETE',
//                url: "http://djq.tunnel.qydev.com/upload",
//                url: "/upload",
            url: "/mi/admin?ids=" + ids,
//            data: {ids:ids},
            dataType: "json",
            success: function (data) {
                if (data.status) {
                    alert(data.result)
                } else {
                    alert(data.msg);
                }
            },
            error: function (data) {
                alert("删除失败");
            },
            complete: function () {
            }
        });
    }
    function saveAdmin(){
        obj = {}
        obj.name = $("#adminName").val()
        obj.id = $("#adminId").val()
        obj.password = $("#adminPassword").val()
        obj.roleIds = $("#roleIds").val()
        var encrypt = new JSEncrypt();
        encrypt.setPublicKey($('#resultMsg').val());
        obj.password = encrypt.encrypt(obj.password);

        url = "/mi/admin"
        method = "POST"
        if (obj.id) {
            url+="/"+obj.id;
            method = "PATCH"
        }
        $.ajax({
            type: method,
            url: url,
            data: obj,
            dataType: "json",
            success: function (data) {
                if (data.status) {
                    alert(data.result)
                } else {
                    alert(data.msg);
                }
            },
            error: function (data) {
                alert("删除失败");
            },
            complete: function () {
            }
        });
    }
    function getCookie(name) {
        var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
        if (arr = document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }
</script>
</html>